.showcase{
    position: relative;
     background: url('./../../assets/images/mountains.jpg');
     min-height: 600px;

     &__primary-overlay{
       background: $primary_overlay;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
     }

}
/* app\assets\images\mountains.jpg */
/* app\temp\styles\styles.css */
/* background: url('/assets/images/mountains.jpg'); */
