.showcase{
    position: relative;
     background: url('./../../assets/images/mountains.jpg');
     min-height: 37.5rem;

     @mixin custom{
       min-height: 31.25rem;

     h1{
       font-size: 4rem;
     }
}
     &__primary-overlay{
       background: $primary_overlay;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
     }

}
